@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,600;6..96,700&display=swap');


html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}


:root {
    --defaultDF: 'avantgarde_bk_btdemi';
    --headingHF: 'Bodoni Moda', serif;
}


button {
    cursor: pointer !important;
}



a {
    text-decoration: none !important;
    cursor: pointer !important;
}


button {
    border: none;
    outline: none !important;
    font-family: var(--defaultDF);
}

h1  {
    margin: 0px;
    padding: 0px;
}

.centVH {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.centH {position: absolute; left: 50%; transform: translateX(-50%);}
.centV {position: absolute; top: 50%; transform: translateY(-50%);}





/* FONT ATTACHMENTS ONLY-- */

@font-face {
    font-family: 'avantgarde_bk_btdemi';
    src: url('avgardd_2-webfont.woff2') format('woff2'),
         url('avgardd_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
font-display: block;

}




@font-face {
    font-family: 'avantgarde_bk_btbook';
    src: url('avgardn_2-webfont.woff2') format('woff2'),
         url('avgardn_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
font-display: block;

}




/* --FONT ATTACHMENTS ONLY */



#main-nav {
    width: 100%;
    height: 75px;
}


#nav-hold {
    height: 50px;
    width: 90%;
    max-width: 1200px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}




#nav-lft {
    width: 30%;
    height: 100%;
    float: left;
}

#nav-rgt {
    width: 60%;
    max-width: 542px;
    height: 100%;
    float: right;
}


#nav-border-box {
    height: 100%;
    width: 65%;
    max-width: 351px;
    border: 1px solid #C8C8C8;
    float: left;
}


#nav-border-box > a > button {
    width: 120px;
    height: 100%;
    font-size: 17px;
    background: transparent;
    color: #C8C8C8;
}


#nav-border-box > a > span {
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

#nav-cta {
    height: 54px;
    width: 30%;
    float: right;
    font-family: var(--defaultDF);
    font-size: 18px;
    background: transparent;
    border: 1px solid #C0B283;
    color: #C0B283;

}

header {
    width: 100%;
    min-height: 700px;
    height: 100vh;
    max-height: 1000px;
    position: relative;
}

