#gold-div {
    width: 100%;
    height: auto;
    background: #C0B283;
}

#gold-div > span {
    width: 100%;
    color: #000000;
    font-family: 'avantgarde_bk_btdemi';
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    display: inline-block;
    text-align: center;
}


#main-nav {
    background: #192231;
}


header {
    background: #192231;
}


header > div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 600px;
    position: relative;
}


#en-first-heading {
    font-family: 'Bodoni Moda', serif;
    font-size: 65px;
    font-weight: 800;
    color: #FFFFFF;
    width: 800px;
}



#en-first-text {
    font-family: 'avantgarde_bk_btbook';
    font-size: 25px;
    color: #FFFFFF;
    width: 700px;
}

#badge-container {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0px;
}


.badge-hold {
    width: 90%;
    height: 140px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.badge-single > img {
    filter: grayscale(1);
}








#gold-container {
    width: 100%;
    height: 1000px;
    background: #C0B283;
    position: relative;
}


#gold-container > div {
    width: 95%;
    max-width: 700px;
    height: auto;
    bottom: 0px;
}

.sub-container-gold {
    width: 100%;
    height: auto;
    margin-top: 20px;
}


.sub-container-gold > span {
    font-family: 'avantgarde_bk_btbook';
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scg-border-box {
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 20px;
}

.sub-container-gold > h2 {
    font-family:'Bodoni Moda', serif;
    font-size: 50px;
    margin: 0px;
}


.scg-border-box > p {
    width: 90%;
    padding: 10px;
    height: auto;
    font-family: 'avantgarde_bk_btbook';
    font-size: 24px;
}


.scg-border-box button {
    width: 220px;
    height: 50px;
    font-size: 17px;
    border-radius: 50px;
    background: #EBEFF2;
    color: #000000;
    margin-bottom: 25px;
    margin-left: 10px;
}


.scg-border-box button::after {
    content: '';
    background-image: url(platform/next.png);
    background-size: cover;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 12px;
}


.sub-container-gold > img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    max-width: 484px;
}





#white-container {
    width: 100%;
    height: 700px;
    position: relative;
}


#white-container > div {
    width: 95%;
    max-width: 700px;
    height: auto;
}


.sub-container-white-ft {
    width: 100%;
    height: 140px;
    margin-top: 90px;
}




.scw-fhlg {
    width: 30%;
    height: 120px;
    position: relative;
    float: left;
}

.scw-fhdt {
    width: 68%;
    height: 120px;
    float: right;
    position: relative;
    border-left: 2px solid #192231;
}


.scw-fhdt > span {
    width: 95%;
    font-family: var(--headingHF);
    font-size: 30px;
    text-align: center;
}



.scw-pitem-text {
    display: inline-block;
    margin-top: 15px;
    font-family: var(--defaultDF);
    font-size: 25px;
}


.scw-portfolio-item {
    width: 330px;
    height: 400px;
    background: red;
    position: relative;
}

.scw-portfolio-item > img {position: absolute; bottom: 0px;}



#main-footer {
    width: 100%;
    height: 440px;
    background: #192231;
    margin-top: 50px;
    display: inline-block;
    position: relative;
}


#main-footer > div {
    width: 90%;
    max-width: 800px;
}


.ftr-logo {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: red;
}


.ftr-nav {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background: #192231;
}

.ftr-nav > div {
    width: 90%;
    height: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


.ftr-nav > div > a > button {
    width: 24%;
    height: 100%;
    background: transparent;
    color: #C8C8C8;
    display: inline-block;
    font-size: 18px;
}


.ftr-borderbox {
    width: 100%;
    height: 200px;
    border: 1px solid #C8C8C8;
}


.ftr-borderbox > p {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-family: 'avantgarde_bk_btbook';
    font-size: 21px;
    color: #C0B283;
}




.ftr-credithold {
    width: 90%;
    max-width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}


.ftr-credithold > a > span {
        width: 15px;
        height: 15px;
        margin-top: 10px;
        margin-left: 30px;
        background-size: 15px 15px;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
    }


@media screen and (max-width: 500px) {


    #nav-rgt {
        display: none;
    }





    #en-first-heading {
        font-family: 'Bodoni Moda', serif;
        font-size: 48px;
        font-weight: 800;
        color: #FFFFFF;
        width: 90%;
    }



    #en-first-text {
        font-family: 'avantgarde_bk_btbook';
        font-size: 24px;
        color: #FFFFFF;
        width: 90%;
    }


    .scw-fhlg {display: none;}
    .scw-fhdt {width: 100% !important; border: none !important; font-size: 25px !important;}
    


    .sub-container-gold > h2 {
        font-family:'Bodoni Moda', serif;
        font-size: 45px;
        margin: 0px;
    }
    
    
    .scg-border-box > p {
        width: 90%;
        padding: 10px;
        height: auto;
        font-family: 'avantgarde_bk_btbook';
        font-size: 20px;
    }


    .ftr-borderbox > p {
        font-size: 15px !important;
    }



    .ftr-nav > div > a > button {
        font-size: 14px;
    }
    
}



@media screen and (min-width: 501px) and (max-width: 900px) {


    #en-first-heading {
        font-family: 'Bodoni Moda', serif;
        font-size: 48px;
        font-weight: 800;
        color: #FFFFFF;
        width: 90%;
    }



    #en-first-text {
        font-family: 'avantgarde_bk_btbook';
        font-size: 24px;
        color: #FFFFFF;
        width: 90%;
    }



    #nav-rgt {
        display: none;
    }


        .scw-fhlg {display: none;}
    .scw-fhdt {width: 100% !important; border: none !important; font-size: 25px !important;}


    .sub-container-gold > h2 {
        font-family:'Bodoni Moda', serif;
        font-size: 45px;
        margin: 0px;
    }
    
    
    .scg-border-box > p {
        width: 70%;
        padding: 10px;
        height: auto;
        font-family: 'avantgarde_bk_btbook';
        font-size: 20px;
    }




    .ftr-borderbox > p {
        max-width: 500px !important;
        font-size: 17px !important;
    }



    .ftr-nav > div > a > button {
        font-size: 14px;
    }




}
