header {
    width: 100%;
    min-height: 800px;
    height: 100vh;
    max-height: 1000px;
    background: #F6F6F6;
    position: relative;
}



.singlebackabsolutebtn {
    background: #010101;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
}


#main-nav {
    background: #F6F6F6;
}

.et0 {
    width: 90%;
    height: 700px;
}


.et0 > img {    width: 500px;
    height: 356px;
    margin-left: auto;
    margin-right: auto;
    display: block;}

.et0 > span {display:inline-block;width:60%;font-family: 'avantgarde_bk_btbook';font-size: 21px;text-align: center;color: #010101;}

.et0 > h1 {font-family: var(--headingHF);font-size: 60px;text-align:center;
    color: #010101;margin-top: 20px;
    margin-bottom: 20px;}


.et0 > button {background: #C0B283; height: 60px; width: 200px;text-transform: uppercase; font-size: 17px;}
.et0 > button::after {display: inline-block;content: '';width: 20px;height: 20px;background-image: url(platform/playet0.png);background-size: cover;margin-left: 10px;}

#single-page-holder {
    min-width: 400px;
    width: 70%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#menu-breakable {
    width: 100%;
    height: 160px;
}

#menu-breakable > h2 {
    font-family: var(--defaultDF);
    font-size: 25px;
}


#menu-breakable > button {
    font-family: 'avantgarde_bk_btbook';
    font-size: 18px;
    background: #FFFFFF;
    width: 140px;
    height: 50px;
    border: 1px solid #645e4a;
    color: #C0B283;
    border-radius: 50px;
    margin-right: 22px;
}



#content {
    width: 100%;
}

#content>h2 {
    font-family: var(--defaultDF);
    font-size: 25px;
}

#content>p {
    /* font-family: 'avantgarde_bk_btbook'; */
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.4;
}



#createFlex-e4872 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.e4872 {
    width: 100%;
    height: 300px;
    background: hotpink;
}



@media screen and (max-width: 500px) {

    .et0 > img {width: 300px !important; height: 156px !important;}
    .et0 > h1 {font-family: var(--headingHF);font-size: 30px;text-align:center;
        color: #010101;}


        #menu-breakable {display: none;}
        .et0 > span {font-size: 16px !important;}
        .et0 > h1 {font-size: 50px !important;}

}

@media screen and (min-width: 501px) and (max-width: 900px) {

    #menu-breakable {display: none;}
    .et0 > span {font-size: 16px !important;}
    .et0 > h1 {font-size: 50px !important;}


}